.mainBlock {
    width: 100%;
    min-height: 120px;

    overflow-y: hidden;

    background-color: seashell;
    
    border: 3px solid gainsboro;
    border-radius: 12px;

    color: black;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    box-sizing: border-box;

    padding: 5% 3%;

    flex-shrink: 0

    input {
        width: 30px;
        height: 30px;
    }

    input:hover {
        cursor: pointer;
    }
}