.mainBlock {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;

  button {
    width: 33.3%;
    height: 50%;

    border: none;
    background-color: beige;
  }

  button:hover {
    background-color: rgba(255, 228, 196, 0.3);
    cursor: pointer;
  }
}
